.card-container {
    display: grid;
    grid-template-columns: 1fr;
    border: 2px solid $color-3;
    margin: 10px;
    padding: 16px;
    border-radius: 20px;
    margin: 8px auto;
    position: relative;
    min-height: 100px;
  
    @media screen and (max-width: 590px) {
      grid-template-columns: 1fr;
    }
    @media screen and (max-width: 440px) {
      padding-top: 26px;
    }
  
    .fa-spinner {
      position: absolute;
      top: 40%;
      left: 49%;
      font-size: 1.5rem;
      color: $color-1;
    }
    .card-right {
      @media screen and (max-width: 590px) {
        margin-left: 18px;
      }
      .card-header {
        display: flex;
        justify-content: space-between;
        margin: 2px 0 4px;
  
        @media screen and (max-width: 590px) {
          margin: 12px 0 14px;
        }
  
        @media screen and (max-width: 440px) {
          flex-direction: column;
        }
  
        .pseudo {
          display: flex;
  
          @media screen and (max-width: 590px) {
            margin-left: 52px;
          }
          @media screen and (max-width: 440px) {
            transform: translateY(-18px);
          }
  
          span {
            margin-left: 10px;
            color: black;
            font-weight: bold;
  
            @media screen and (max-width: 440px) {
              margin: 0px 0 -10px;
              padding: 0;
            }
  
            img {
              padding: 5px;
              cursor: pointer;
              transition: 0.15s;
              box-shadow: none;
              height: 28px;
              width: 28px;
  
              &:hover {
                transform: scale(1.2) translate(0px, 0px);
              }
            }
  
            .fas {
              color: $color-1;
            }
            .far {
              color: $color-2;
            }
          }
        }
  
        span {
          font-style: italic;
          font-family: $font-1;
  
          @media screen and (max-width: 440px) {
            transform: translate(52px, -20px);
          }
        }
      }
      p {
        margin: 3px 0 9px;
        font-size: 1.1rem;
  
        @media screen and (max-width: 440px) {
          margin-top: -18px;
        }
      }
      .update-post {
        textarea {
          font-size: 1.3rem;
          border: 1px solid $color-2;
          padding: 10px;
          border-radius: 20px 20px 6px 20px;
        }
        .button-container {
          .btn {
            background: $color-2;
            color: $black;
            width: 240px;
            transform: translateY(-3px);
  
            &:hover {
              background: $color-1;
              width: 250px;
              letter-spacing: 1px;
            }
          }
        }
      }
      .card-pic {
        width: 100%;
        border-radius: 6px;
        margin-top: 12px;
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
      }
      iframe {
        width: 100%;
        min-height: 330px;
        border-radius: 6px;
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
      }
  
      .update-image {
        img {
          transform: translateY(5px) !important;
        }
      }
  
      .button-container {
        justify-content: flex-end;
        display: flex;
  
        div {
          padding: 5px 9px;
          margin-left: 5px;
          background: $color-2;
          border-radius: 50px;
          transition: 0.1s;
          cursor: pointer;
  
          button {
            font-size: 8px;
            margin-left: 5px;
          }
  
          .icon {
            cursor: pointer;
  
            input {
              position: absolute;
              transform: translate(-16px, -3px);
              opacity: 0;
              cursor: pointer;
  
              &::-webkit-file-upload-button {
                cursor: pointer;
              }
            }
          }
  
          &:hover {
            transform: scale(1.07);
          }
  
          img {
            height: 16px;
            width: 16px;
            transform: translateY(3px);
          }
        }
      }
      .card-footer {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0 4px;
  
        img {
          height: 22px;
          width: 22px;
          cursor: pointer;
          transition: 0.2s;
  
          &:hover {
            transform: scale(1.2);
          }
        }
        .comment-icon,
        .like-container {
          display: flex;
          align-items: center;
  
          span {
            font-size: 1.02rem;
            position: absolute;
            transform: translate(29px, 2px);
          }
        }
      }
      .like-container {
        span {
          font-size: 1.02rem;
          position: absolute;
          transform: translate(8px, -1px);
        }
      }
      .fa-share-alt {
        transform: translate(0, 2px);
      }
    }
    .update-post {
      textarea {
        width: 100% !important;
        height: 80px;
      }
      .button-container {
        text-align: right;
  
        button {
          margin: 0;
          margin-left: 5px;
          width: 150px;
  
          &:nth-child(1) {
            background: $color-1;
          }
        }
      }
    }
  }